<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <form >
            <div class="card">
                <div class="card-header" style="font-weight: bold; font-size: 22px;">Add Question</div>
                <div class="form-group col-md-6">
                    <label for="inputName" >Question</label>
                    
                    <textarea rows = "25" cols = "1" class="form-control" [(ngModel)] = "question.name"  name = "name" id="inputName" placeholder="Question">
                    </textarea>
                   </div>
                   <div class="form-group col-md-6 row-md-2">
                    <mat-form-field appearance="fill"> 
                        <mat-label>Category</mat-label>
                    
                   <mat-select [(ngModel)] = "question.categoryName" name="categories" id="inputName"  value>
                    <ng-container *ngFor="let c of categories">
                    <mat-option style="border:3px;" class="form-control" value="{{c.name}}" >{{c.name}}</mat-option>
                  </ng-container>   
                    </mat-select>
                </mat-form-field>
                  </div>
            </div>
                  
            <button class="btn btn-primary" type="submit" style="margin-top: 20px;" (click)="onSubmit()">Submit</button>

            </form>
        </div>
    </div> 